*{
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

.index-body {
  background: url('../images/alexandra-kirr-Q_MYbs7KdcU-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.home-color {
  background-color: rgba(0, 0, 0, 0.8);
  max-width: 100%;
  text-align: center;
  position: relative;
}

.home-title > h1 {
  font-size: 80px;
  font-weight: 300;
}

.back-color{
  background-color: rgba(255, 255, 255, 0.05);
  max-width: 50%;
  margin: 0 auto;
  text-align: center;
}

.title {
  border-bottom: 4px double rgba(0, 0, 0, 0.3);
  width: 100%;
  margin-bottom: 20px;
  padding-top: 70px;
  text-align: center;
}

.post-area {
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  width: 70%;
}

.navbar-brand {
  font-size: 25px;
}

li {
  list-style-type: none;
}

.flex-ctr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: red; */
}

button > a {
  color: black;
  text-decoration: none;
}

.index-image {
  position: relative;
}

.index-image > img {
  width: 80%;
  border: 1px solid black;
  box-shadow: 3px 3px 4px black;
}

.show-image {
  position: relative;
}

.show-image > img {
  width: 90%;
  border: 1px solid black;
  box-shadow: 3px 3px 4px black;
}

.post {
  margin-top: 20px;
  margin-bottom: 40px;
  padding: 20px 10px 20px 10px;
  border-bottom: 2px solid grey;
  width: 100%;
}

.form-width {
  margin: 80px auto;
  border: 1px solid black;
  max-width: 50%;
  padding: 10px;
  text-align: center;
}

.new-post-image {
  width: 95%;
  text-align: center;
}

.new-post-title {
  width: 95%;
  text-align: center;
}

.new-post-description {
  width: 95%;
  text-align: left;
}

.user-info {
  margin: 0px;
  padding: 5px 0px 5px 20px;
  text-align: left;
  font-size: 18px;
  opacity: 0.5;
}

.post-description {
  /* background-color: red; */
  text-align: center;
  padding: 5px 0px 5px 20px;
  font-size: 20px;
  opacity: 1;
}

.likes {
  text-align: center;
  opacity: 0.9;
  padding: 5px 0px 5px 20px;
}

.creation-date {
  font-size: 13px;
  text-align: right;
  opacity: 0.2;
}

.comment {
  border: 1px solid rgba(250, 250, 250, 0.2);
  margin: 0 auto;
  width: 80%;
}

.comment-user-info {
  margin: 0px;
  padding: 5px 0px 0px 20px;
  text-align: left;
  font-size: 15px;
  opacity: 0.5;
}

.comment-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}

.comment-text {
  width: 80%;
  text-align: left;
  padding: 5px 0px 5px 30px;
  font-size: 15px;
  opacity: 1;
}

.comment-creation-date {
  font-size: 10px;
  text-align: right;
  opacity: 0.2;
  padding-right: 5px;
}

.like {
  position: absolute;
  top: 0px;
  right: -10px;
  width: 55px;
  text-align: center;
}

.edit-post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 20px 0px 20px;
}

.liked {
  position: absolute;
  width: 55px;
  top: 0px;
  right: -10px;
  text-align: center;
  background-color: red;
}

.footer{
  max-height: 35px;
  text-align: right;
}

.footer > h5 {
  opacity: 0.6;
  padding: 10px 10px 0 0;
}